.About {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 50%;
  height: 100%;
  word-spacing: .3rem;
}

#AboutImage {
  height: 100%;
  width: 25%;
}

.AboutMysidia {
  word-spacing: .3rem;
  background: rgba(0, 0, 0, 0.450);
  width: 50%;
  text-align: center;
}

.AboutMysidia h1 {
  text-decoration: underline;
}

.Discord {
  background: rgba(244, 244, 244, 0.3);
  width: 22.5rem;
  height: 7.5rem;
}

.AboutContainer {
  position: fixed;
  top: 10%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
}

@media(max-width: 650px) {
  .AboutContainer {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .About {
    position: fixed;
    top: 0;
    width: 100%;
  }
  #AboutImage {
    height: 20rem;
  }
  .AboutMysidia {
    position: fixed;
    top: 40%;
    width: 100%;
  }
  .DiscordContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 93%;
  }
  .Discord {
    background: rgba(244, 244, 244, 0.3);
    height: 5rem;
    width: 15rem;
  }
}