.CalendarContainer {
  position: fixed;
  top: 10%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
}

.Calendar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
}

@media(max-width: 650px) {
  .CalendarContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
  }
  .Calendar {
    display: flex;
    width: 50%;
  }
}