.ChallengesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $soulblack;
  position: fixed;
  top: 10%;
  width: 100%;
}

.Challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $soulblack;
}

.SubChallenges {
  display: grid;
  justify-items: center;
  color: $soulblack;
  background: rgba(209, 209, 209, 0.5);
  padding: 1rem;
}

@media(max-width: 650px) {
  .ChallengesContainer {
    position: fixed;
    top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: $soulblack;
  }
  .Challenges {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .SubChallenges {
    padding: 0;
    background: $lightwhite;
    color: $soulblack;
    height: 25rem;
  }
}