.ChallengesContainer {
  text-align: center;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 75vh;
  margin-top: 10rem;
  height: 75vw;
  color: #000000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.ChallengeOne {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
}

.ChallengeTwo {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  justify-items: center;
}

.CardOne {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}