.EventsContainer {
  color: $soulblack;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
}

.CardOne {
  background: rgba(0, 0, 0, 0.1);
  color: $soulblack;
}

.CardText {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
}

@media(max-width: 650px) {
  .EventsContainer {
    color: $soulblack;
    position: fixed;
    top: 39%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50%, -50%);
    display: inline-block;
    word-break: break-all;
  }
  .collapsible-body {
    height: 100%;
  }
  .CardText {
    font-size: 2rem;
    padding: 0;
    font-weight: bolder;
  }
}