.NavLinks {
  list-style: none;
  display: block;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 0 2.5rem 1.2rem;
  font-size: 1em;
  width: 27rem;
  position: fixed;
  left: 0;
  top: 0;
}

.Test {
  position: fixed;
  top: 0;
  background: #000;
  color: white;
}

.bm-menu-wrap {
  left: 0;
  top: 0;
}

/* Wrapper for item list */
.bm-item-list {
  background: #373a47;
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  height: 80%;
  background: rgba(0, 0, 0, 0.3);
}

@media(max-width: 650px) {
  .bm-burger-button {
    position: fixed;
    top: 0;
    left: 0;
  }
  .bm-burger-button:hover {
    transform: translateX(5px);
  }
  .bm-item-list {
    height: 100%;
  }
}