.HomeContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-direction: column; 
  width: 100%;
  position: fixed;
  top: 25rem;
}

#HomeImage {
  position: fixed;
  top: 1rem;
  width: 25%;
  height: 25%;
}

.MemberSpotlight {
  position: fixed;
  top: 25rem;
  color: $soulblack;
  background: rgba(235, 231, 231, 0.5);
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50%;
}

#MemberSpotlightImage {
  width: 25%;
  height: 25rem;
  max-height: 25rem;
}

.HomeTwo {
  display: flex;
  align-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  width: 50%;
}

.MemberSpotlightText {
  padding: 1rem;
}

.MemberSpotlightButton {
  padding: .5rem;
  margin: 2rem;
  border: none;
  background: $lightwhite;
  color: $soulblack;
  box-shadow: 1px 1px $soulblack;
}

.MemberSpotlightButton:hover {
  transform: translateY(-3px);
}

.MemberSpotlightButton:active {
  transform: translateY(-1px);
}

.MemberSpotlightButton:focus {
  background: $lightwhite;
  color: $soulblack;
}

.HomeContainer p {
  float: left;
  text-align: center;
}

@media(max-width: 639px) {
  .HomeContainer {
    display: flex;
    position: fixed;
    top: 5%;
    width: 100%;
  }
  .MemberSpotlight {
    position: fixed;
    top: 15rem;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.3);
    color: $lightwhite;
  }
  .HomeTwo {
    width: 100%;
  }
  #HomeImage {
    width: 35rem;
    height: 17rem;
    position: fixed;
    top: 0;
  }
  .MemberSpotlightText {
    padding: 0;
  }
  #MemberSpotlightImage {
    width: 25%;
  }
}