.HomeContainer {
  display: grid;
  justify-items: center;
  color: $soulblack;
  position: fixed;
  top: 15rem;
}

.Home {
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  color: $soulblack;
}

.SubHome {
  display: grid;
  justify-items: center;
  color: $soulblack;
  background: rgba(209, 209, 209, 0.5);
  padding: 1rem;
}

@media(max-width: 650px) {
  .HomeContainer {
    position: fixed;
    top: 10rem;
    height: 50%;
  }
  .Home {
    grid-gap: 0;
  }
  .SubHome {
    padding: 0;
  }
}