.MystGalleryContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.MystGallery {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 8%;
}

.image-gallery-slide img {
  height: 60rem;
}

.image-gallery-content {
  width: 100%;
}

@media(max-width: 650px) {
  .image-gallery-image {
    height: 100%;
    width: 100%;
  }
  .image-gallery-slide img {
    height: 100%;
  }
  .MystGallery {
    width: 100%;
  }
}

//I'll have to fix post-prod. I think the parallax is causing >A LOT< of issues
//Related to positioning. Here, like other elements, I have to force position with
//My content because of (what I think to be) the parallax. 