.ModalImage {
  height: 20rem;
  width: 20rem;
  transition: transform .2s;
}

.ModalImage:hover {
  transform: scale(1.2);
}

.ButtonModalOpen {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  width: 20rem;
  height: 5rem;
  grid-gap: 5rem;
  background: $offwhite;
  color: $soulblack;
  border: none;
}

.ButtonModalOpen:hover {
  transform: translateY(-3px);
  background: $offwhite;
}

.ButtonModalOpen:active {
  transform: translateY(-1px);
}

.ButtonModalOpen:focus {
  background: $offwhite;
  color: $soulblack;
}

.CloseModalButton {
  // width: 100%;
  color: $soulblack;
  background: $lightwhite;
}

.CloseModalButton:focus {
  color: $soulblack;
  background: $lightwhite;
}

@media(max-width: 650px) {
  .ModalImage {
    display: none;
  }
}