.OfficersContainer {
  // display: grid;
  // justify-items: center;
  // grid-template-columns: repeat(auto, 1fr);
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: $soulblack;
  position: fixed;
  top: 14rem;
  left: 13rem;
}

.Officers {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  color: $soulblack;
}

.Inactive {
  display: grid;
  justify-items: center;
  position: fixed;
  top: 12rem;
  background: $offwhite;
  color: $soulblack;
}

.InactiveOfficers {
  top: 10rem;
  display: grid;
  grid-gap: .5rem;
  justify-items: center;
  position: fixed;
}