.OfficersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch; 
  text-align: center; 
  color: $soulblack;
  position: fixed;
  top: 15rem;
  width: 100%;
}

.InactiveOfficersLink {
  position: fixed;
  top: 65%;
  border: none;
}

.InactiveOfficersLink button {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px $soulblack;
  border: none;
  color: $soulblack;
}

.InactiveOfficersLink button:hover {
  transform: translateY(-3px);
}

.InactiveOfficersLink button:active {
  transform: translateY(1px);
}

.InactiveOfficersButton {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.3);
  color: $soulblack;
  border: none;
  width: 25rem;
  box-shadow: 1px 1px $soulblack;
}

.InactiveOfficersButton:hover {
  background: rgba(244, 244, 244, 0.3);
  color: $soulblack;
  transform: translateY(-3px);
  box-shadow: 1.5px 1.5px $soulblack;
}

.InactiveOfficersButton:active {
  transform: translateY(3px);
}

.InactiveOfficersContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 10%;
  width: 100%;
}

.InactiveOfficers {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.Officers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  color: $soulblack;
}

@media(max-width: 650px) {
  .OfficersContainer {
    position: fixed;
    left: 0;
    top: 5rem;
  }
  .Officers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50%;
    top: 0;
    left: 0;
  }
  .InactiveOfficersLink {
    top: 70%;
  }
  .InactiveOfficersLink button {
    color: $lightwhite;
    background: rgba(3, 3, 15, 0.7);
  }
  .InactiveOfficersToggle {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;    
  }
}