.RaidingContainer {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 50%;
  height: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
}

.RaidingText {
  font-size: 3rem;
}

@media(max-width: 650px) {
  .RaidingContainer {
    display: grid;
    width: 100%;
    height: 80;
    margin-top: 10rem;
    color: $soulblack;
    background: $lightwhite;
  }
}