.RanksContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.Ranks {
  color: $soulblack;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.CardRanks {
  display: grid;
  justify-items: center;
  width: 17rem;
  height: 20rem;
  .material-icons {
    display: none;
  }
}

.CardRanks img {
  height: 10rem;
}

@media(max-width: 650px) {
  .Ranks {
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    left: 2;
    padding: 0;
    margin: 0;
  }
  .CardRanks {
    text-align: center;
    width: 15rem;
    height: 13rem;
  }
  .card-content {
    display: none;
  }
}