.RanksContainer {
  color: $soulblack;
  width: 100%;
  position: fixed;
  top: 14rem;
}

.material-icons {
  display: none;
}

.Ranks {
  top: 0;
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  color: $soulblack;
  width: 100%;
}

.CardRanks {
  display: grid;
  justify-items: center;
  text-align: center;
  height: 250px;
  width: 250px;
}

.CardTitle img {
  height: 18vh;
}

@media(max-width: 450px) {
  .CardTitle img {
    height: 15rem;
  }
  .CardRanks {
    padding: 0;
    margin: 0;
    height: 150px;
    width: 187px;
  }
  .RanksContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: $soulblack;
  }
  .Ranks {
    display: flex;
    flex-direction: row;
    // flex-flow: column;
    flex-wrap: wrap;
    position: fixed;
    top: 0%;
    // display: grid;
    // grid-gap: 2rem;
    // grid-template-columns: repeat(auto-fit, 75px);
    // grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  }
  .card-content {
    display: none;
  }
}