.RulesContainer {
  position: fixed;
  top: 35%;
  left: 50%;
  width: 50%;
  height: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
}

.TabsList {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  font-size: 2rem;
}

.tabs .tab a {
  color: $soulblack;
  font-size: 1.55rem;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  color: $soulblack;
}

.tabs .indicator {
  background: $soulblack;
}

@media(max-width: 650px) {
  .RulesContainer {
    width: 100%;
  }
}