.RulesContainer {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 50%;
  height: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
}

.Rules {
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.SubRules {
  font-weight: bolder;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
}