.RulesContainer {
  position: fixed;
  top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.Rules li::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  margin: .3rem;
  background: $soulblack;
}

.Rules {
  display: flex;
  justify-content: center;
  align-content: center;
  color: $soulblack;
  background: rgba(243, 243, 243, 0.3);
  width: 50%;
  box-shadow: 2.2px 2.2px $soulblack;
}

.RulesImages {
  width: 2.9rem;
  height: 2.9rem;
  padding: .2rem;
}

@media(max-width: 650px) {
  .Rules {
    font-size: 1.9rem;
    font-weight: bolder;
    height: 60%;
    width: 100%;
    padding: 1rem;
  }
}