//Dark Colors
$midnightblue: #0b0b72;
$darkgrey: #47476b;
$darkred: #97150c;
$darkpurple: #4d2f79;
$deeppurple: #302344;
$purplepurple: #3d2d55;
$darkblue: #333745;
$darkslategrey: #292931;
$soulblack: #03030f;
//Variants: non-dark/non-light
$burntorange: #CF5300;
$purple: #8357c5;
$blue: #3c4251;
$olivegreen: #495c28;
$offblack: #20222b;
$offwhite: #a5afd7;
$mildgreen: #347523;
//Light Colors
$deepgrey: #35353d;
$something: #464646;
$lightwhite: #ebe7e7;
$palered: #fe584c;
$lightred: #f3291a;
$lightyellow: #ffff1a;
$lightgreen: #2dd82d;
$lightblue: #464b6a;
$powderblue: #8bd0da;
//Team Colors
$lsupurple: #461D7C;
$lsugold: #FDD023;